.nav {
  list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    top: 367px;
    position: relative;
}


    .itarget{
 
      animation-duration: 15s;
      animation-name: slidein;
      animation-iteration-count: 4;
    }
    
    @keyframes slidein {
      from {
        
       background-color: #E91E63; 
      }
    
      to {
        
      background-color: #3F51B5;
      }
    }
	html {
   
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    height: auto;
    background-image: url(../webp/bcg-green.webp);
    
    background-size: contain;
	position: relative;
    z-index: -1;
}
  motion-todos {
      width: 600px;
    }

    @media screen and (max-width: 600px) {
      motion-todos {
        width: 100%;
      }}
.btn {
    font-size: medium;
    border-block-color: blue;
    border-width: 5px;
    background-color: #9E9E9E;
    height: 50px;
    min-width: 70px;
    color: white;
}



 .btn:hover {
font-size: medium;
	
	border-block-color: red;
    border-width: 11px;
    background-color:#000780f7 ;
    color: white;	
  
  
}

doom-arhitekt {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 2fr 1fr;
    position: relative;
    z-index: -1;
}

.mod {
    background-color: rgba(158, 158, 158, 0.75);
    max-width: 150px;
    width: auto;
    text-align: center;
    border-radius: 15px;
    padding: 4px;
/*	margin-left: -86px*/
}
.mod1{
    position: relative;
    display: block;
    transform: rotateX(177deg);
}

.textB {
	display: inline-block;
    width: 28px;
    height: 28px;
    right: auto;
    top: auto;
    color: red;
    position: relative;
    border-radius: 50%;
    background-color: white;
    font-size: 1.2rem;
    text-align: center;
	/*bottom: 29px;*/
}


.textA { color: #795548;
    position: relative;
    border-radius: 5%;
    background-color: white;
    font-size: 0.8rem;
    text-align: center;
}




.mod:hover{ background-color:#2196F3;}


.super {
    margin: 0;
    height: 100vh;
  
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

.data {
    background-color: white;
}

.form {
    top: 20px;
    left: 20px;
    position: absolute;
}

.text-h4 {
    text-align: center;
}

.header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 23px;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    min-height: 98%;
}

.buttons {
    right: 0;
    position: absolute;
}

.buttons_container {
    padding: 20px;
}

.left {
    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-title {
    margin-top: -80px;
    margin-bottom: 80px;
}

.player3CardsContainer {
    position: relative;
    width: 300px;
    height: 120px;
    transform: rotate(-90deg)
}

.player2CardsContainer {
    position: relative;
    width: 300px;
    height: 120px;
    transform: rotate(90deg)
}

.player1CardsContainer {
    margin: 20px 0;
    position: relative;
    width: 300px;
    height: 120px;
    transform: scaleY(-1);
}

.player0CardsContainer {
    margin: 20px 0;
    position: relative;
    width: 300px;
    height: 120px;
}

.player1 {
    align-items: end;
}

.content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
    flex: 1 0 auto;
    position: relative;
}

.card_table {
}

.deck_card {
    position: absolute;
	width:50px;
    height: 70px;
    border-radius: 7px;
	background-size: cover;
}

.deck_flex {
    position: absolute;
    width: 200px;
    display: flex;
   left: -81px;
  top: 79%;
    justify-content: center;
    align-items: center;
}

.table_grid {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 65px);
    justify-items: center;
	position: relative;
    margin:0 auto;
	
}
.table_gridstart {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6, 45px);
    justify-items: center;
    position: relative;
    margin: 0 auto;
   
}
.g_g {
   
	background-color:#0098ff94;
	height:69px;
	width:42px;
	margin:5px;
	opacity: 0.1;
}
.g_ns {
    background-color: #edefe930;
     height: 69px; 
    width: 42px;
    margin: 5px;
    color: red;
    font-size: 32px;
    text-align: center;
}
p.qs {
    display: inline-block;
    width: 100%;
    font-size: 32px;
    color: red;
    margin: 12px;
}

.left {
    float: left;
    width: 100px;
    min-height: 100%;
}

.right {
    float: right;
    width: 100px;
    min-height: 100%;
}

.footer {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	z-index: -3;
}

.card_img {
    width: 57px;
    height: 89px;
    border-radius: 7px;
    transition: transform 250ms;
	background-size: cover;
}

.cards_number-lastCard {
    transform: rotate(-90deg);
    position: absolute;
    right: 25%;
    z-index:auto;
}


.cards_number-6-hover:hover {
    box-shadow: 0px 0px 10px yellow;
    transform: translateY(-20px) scale(1.5);
    z-index: 2;
}


.move-to-0 {
    transform: translateX(20px)
}
  
  .cards_number-55 {
	  position:relative;
   width: 57px;
    height: 89px;
    border-radius: 7px;  
}
 .hearts6{
    background-image: url(../webp/hearts6.webp);
}
 .hearts7{
    background-image: url(../webp/hearts7.webp);
}
 .hearts8{
    background-image: url(../webp/hearts8.webp);
}
 .hearts9{
    background-image: url(../webp/hearts9.webp);
}
 .hearts10{
    background-image: url(../webp/hearts10.webp);
}

 .heartsA{
    background-image: url(../webp/heartsA.webp);
}
 .heartsK{
    background-image: url(../webp/heartsK.webp);
}
 .heartsQ{
    background-image: url(../webp/heartsQ.webp);
}
 .heartsJ{
    background-image: url(../webp/heartsJ.webp);
}
 .clubs6{
    background-image: url(../webp/clubs6.webp);
}
 .clubs7{
    background-image: url(../webp/clubs7.webp);
}
 .clubs8{
    background-image: url(../webp/clubs8.webp);
}
 .clubs9{
    background-image: url(../webp/clubs9.webp);
}
 .clubs10{
    background-image: url(../webp/clubs10.webp);
}
 .clubsA{
    background-image: url(../webp/clubsA.webp);
}
 .clubsK{
    background-image: url(../webp/clubsK.webp);
}
 .clubsQ{
    background-image: url(../webp/clubsQ.webp);
}
 .clubsJ{
    background-image: url(../webp/clubsJ.webp);
}
 .diamonds6{
    background-image: url(../webp/diamonds6.webp);
}
 .diamonds7{
    background-image: url(../webp/diamonds7.webp);
}
 .diamonds8{
    background-image: url(../webp/diamonds8.webp);
}
 .diamonds9{
    background-image: url(../webp/diamonds9.webp);
}
 .diamonds10{
    background-image: url(../webp/diamonds10.webp);
}
 .diamondsA{
    background-image: url(../webp/diamondsA.webp);
}
 .diamondsK{
    background-image: url(../webp/diamondsK.webp);
}
 .diamondsQ{
    background-image: url(../webp/diamondsQ.webp);
}
 .diamondsJ{
    background-image: url(../webp/diamondsJ.webp);
}
 .spades6{
    background-image: url(../webp/spades6.webp);
}
 .spades7{
    background-image: url(../webp/spades7.webp);
}
 .spades8{
    background-image: url(../webp/spades8.webp);
}
 .spades9{
    background-image: url(../webp/spades9.webp);
}
 .spades10{
    background-image: url(../webp/spades10.webp);
}
 .spadesA{
    background-image: url(../webp/spadesA.webp);
}
 .spadesK{
    background-image: url(../webp/spadesK.webp);
}
 .spadesQ{
    background-image: url(../webp/spadesQ.webp);
}
 .spadesJ{
    background-image: url(../webp/spadesJ.webp);
}


.card-back{ background-image: url(../webp/card-back.webp);}
p.q{display: inline-block;
    width: 100%;
    font-size: 46px;
	color:red;
	margin: 12px;
}
.g_n {
   
	background-color:#0098ff94;
	height:89px;
	width:57px;
	margin:5px;
	
}
.modn {
    background-color: rgba(158, 158, 158, 0.75);
    max-width: 150px;
    width: fit-content;
    text-align: center;
    border-radius: 15px;
    padding: 4px;
    color: red;
    margin-left: -86px;
    background-color: #9e9e9efa;
}


